@{
    ViewBag.Title = "ĐỔI MẬT KHẨU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-3 mb-3 border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewBag.Title</h5>
    <div class="card-body">
        @if (ViewBag.Error != null)
        {
            <span class="text-danger text-center mb-3" style="font-weight:bold;">@ViewBag.Error</span>
        }
        <form action="@Url.Action("ChangePassword","Home")" method="post">
            <label class="control-label">Mật khẩu mới</label>
            <input type="password" class="form-control" name="PassNew" />
            <label class="control-label">Xác nhận</label>
            <input type="password" class="form-control" name="CheckPass" />
            <input type="submit" value="Đổi lại" class="btn btn-primary mt-3"/>
        </form>
    </div>
</div>

