@{
    ViewBag.Title = "QUÊN MẬT KHẨU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3 mb-3">
    <h5>QUÊN MẬT KHẨU</h5>
    <form action="@Url.Action("Forgot_password")" method="post">
        <label class="form-label">Tên Đăng Nhập</label>
        <input type="text" class="form-control" name="TenDangNhap" />
        <input type="submit" value="Gửi đi" class="btn btn-primary mt-3 mb-3"/>
    </form>
</div>

