@model StoreTanPhat.Models.Footer
@{
    ViewBag.Title = Model.TenFooter;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img{
        width:500px;
    }
</style>
<div class="container mt-4">
    <h5 class="text-center" style="font-size:30px;">@ViewBag.Title</h5>
    <p>
        @Html.Raw(Model.MoTa)
    </p>
</div>


