@model IEnumerable<StoreTanPhat.Models.HinhAnhSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <img src="~/@item.HinhAnh" width="100" />
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_HinhAnhSP })
        </td>
    </tr>
}

</table>
